body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f3835b;
    color: #2e33f9;
}

a:hover {
    color: #d1d13e;
}

a {
    color: rgb(243 230 47);
    font-size: 20px;
    text-decoration: none;
}

h1 {
    color: #156bdd;
}

h2,
h3,
h4 {
    color: #31ed04
}

