* {
   box-sizing: border-box;
  
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    color: #101f2d;
}

a:hover {
    color: #d1d13e;
}

a {
    color: rgb(243 230 47);
    font-size: 20px;
    text-decoration: none;
}

h1 {
    color: #156bdd;
}

h2,
h3,
h4 {
    color: #31ed04
}

.lasagna {
    background-color: #31ed04;
    padding: 25px;
    width: 200px;
    text-align: center;
    margin: 20px;
    border: 1px solid;
}

.scrambled-eggs {
    background-color: #31ed04;
    padding: 25px;
    width: 200px;
    text-align: center;
    margin: -100px 10px 10px 250px;
    border: 1px solid;
}

.pizza {
    background-color: #31ed04;
    padding: 25px;
    width: 200px;
    text-align: center;
    margin: -100px 10px 10px 480px;
    border: 1px solid;
}
